* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
   
 
}
body {
    font: 400 14px Roboto, sans-serif;
    background-color:whitesmoke;

    
}
nav {

    width: 100%;
    min-height: 150px;
    height: 200px;
    max-height: 300px;
    background-color:rgba(0, 0, 0, 1);
    display: flexbox;
    color: whitesmoke;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.avatar{
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    height: auto;

}
.imagens {
    
    color:black;
    display: block;
    

}
.projeto{
    justify-content: left;
    align-items: left;
    margin: 2em;
    font-size: large;
    max-width: 60%;
}

.descricao{
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 1em;
        margin-top: 0.5em;
        text-indent: 2em;
}  
.projetos{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}  
.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}


img {
    margin: 0.2em;
}
@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
   .projeto{
    justify-content: center;
    align-items: center;
    margin: 2em;
    font-size: medium;
}

.descricao{
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 1em;
        margin-top: 0.5em;
        text-indent: 2em;
}  
}

